@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

.hidden {
    display: none;
}

.visible {
    display: block;
}

button {
    background-color: #eba0ac;
    color: #11111b;
}

button:focus {
    background-color: #eba0ac;
}

button:hover {
    background-color: #cba6f7;
}

.processing {
    background: linear-gradient(135deg, #f5e0dc, #f2cdcd);
}

.completed {
    background: linear-gradient(135deg, #94e2d5, #89b4fa);
}

.rejected {
    background: linear-gradient(135deg, #eba0ac, #f38ba8);
}

.suggestion-card {
    border: 2px solid #11111b;
    border-radius: 10px;
    box-shadow: 0 4px 8px #89dceb;
    padding: 20px;
    margin: 10px;
    font-family: 'Arial', sans-serif;
    color: #11111b;
}

.card-header {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #11111b;
}

.card-header i {
    margin-right: 10px;
    color: #ff6f61;
}

.card-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    display: flex;
    flex-direction: column;
    color: #11111b;
}

.card-body.expanded {
    max-height: 1000px;
    overflow: auto;
}

.card-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #11111b;
}

.card-item i {
    margin-right: 10px;
    color: #11111b;
    font-size: 1.2em; /* Ensuring all icons are the same size */
}

.resolution-item {
    display: flex;
    flex-direction: column;
    color: #11111b;
}

.resolution-item-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.resolution-item-header i {
    font-size: 1.2em; /* Ensuring the resolution icon is the same size */
    margin-right: 5px; /* Adding space between icon and text */
}

.icon {
    padding-left: 10px;
}

.expand-button {
    cursor: pointer;
    padding: 5px 10px;
    font-size: 0.8rem;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #11111b;
    color: #89b4fa;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
}

.expand-button-container {
    width: 100%;
    text-align: center;
}

.title-text {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 1000px;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    color: #11111b;
}

.resolution-text {
    color: #11111b;
    overflow: auto;
}

/* Custom scrollbar styles */
.resolution-text::-webkit-scrollbar {
    height: 12px;
}

.resolution-text::-webkit-scrollbar-thumb {
    background: #11111b;
    border-radius: 6px;
}

.resolution-text::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

.resolution-text::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 6px;
}
