@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

.hidden {
    display: none;
}

.visible {
    display: block;
}

button {
    background-color: #eba0ac;
}

button:focus {
    background-color: #eba0ac;
}

button:hover {
    background-color: #cba6f7;
}
.suggestion-card {
    border: 2px solid #11111b;
    border-radius: 10px;
    box-shadow: 0 4px 8px #89dceb;
    background: linear-gradient(135deg, #94e2d5, #89b4fa);
    padding: 20px;
    margin: 10px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.card-header {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.card-header i {
    margin-right: 10px;
    color: #ff6f61;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card-item i {
    margin-right: 10px;
    color: #11111b;
}